:local(.dialog_header) {
    display: flex;
    flex-direction: row;
    background-color: #8e24aa;
    min-height: 36px;
}

:local(.back_button) {
    width: 36px;
    height: auto;
    margin: -6px 5px -6px -6px;

    background-image: url("https://img.icons8.com/dotty/50/000000/back.png");
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #8e24aa;

    border: 0;
    outline: none;
}

:local(.avatar_img) {
    width: 36px;
    height: 36px;
    border-radius: 50%;

    margin-left: 24px;
}

:local(.person_info_container) {
    display: flex;
    flex-direction: column;
    margin-left: 2ch;
}

:local(.full_name) {
    display: flex;
    margin-top: 0;
    color: #f0f0f0;
}

:local(.last_online) {
    display: flex;
    justify-content: center;
    color: #c9c9c9;
    font-size: 80%;
}
