body {
    background-color: whitesmoke;
}
.header {
    display: flex;
    background-color: #8e24aa;
    font-family: 'Roboto', sans-serif;
    margin: -8pt -8pt 0 -8pt;
}

.messages_content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header > .senderInfo {
    margin-left: 2ch;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    color: white;
}

.input_place {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #ffffff;
}

.time, .last_seen {
    float: right;
    color: grey;
    font-size: 12px;
}

.last_seen {
    color: #c9c9c9;
}

.header img {
    top: 500%;
    margin: 5px 0 0 0;
    height: 30px;
}

#back_img {
    text-decoration: none;
}

#avatar {
    margin-left: 30px;
    border-radius: 50%;
}

#menu_button {
    justify-content: flex-end;
    height: 25px;
    margin-top: 7px;
    margin-left: auto;
}

#search_button {
    margin-top: 7px;
    justify-content: flex-end;
    margin-right: 5px;
    height: 25px;
}
