:local(.MessageContainer) {
    display: flex;
    flex-direction: column;
    background: #f0f0f0;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-end;
    flex-grow: 1;
    min-height: min-content;
}
